{{crumb}}
<article class="article">
<h1>{{title}}</h1>
<p class="meta">公開日 {{date}} ／ 最終更新 {{updated}}　<span class="byline">執筆：<a href="/about/">オリパ研究家 ユウジ</a></span></p>
{{fv}}
{{toc}}
{{content}}
{{related}}
<div class="author-box">
  <img class="ab-icon" src="/static/img/author.webp" alt="オリパ研究家 ユウジ" width="120" height="120" loading="lazy">
  <div>
    <p class="ab-name">この記事を書いた人：オリパ研究家 ユウジ</p>
    <p>小学生の頃に初代ポケカへ熱中し、社会人になって子供と一緒に復帰した32歳・二児の父。この3年で24個のオリパアプリに自腹で課金し、検証に使った額は累計約912万円。爆死もPSA10の超アドも両方味わった経験から、これから課金する人が同じ失敗をしなくて済むように記事を書いています。<a href="/about/">詳しいプロフィール</a></p>
  </div>
</div>
</article>
